﻿@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
<ul class="nav navbar-nav ml-auto">
    <li class="nav-item"><a asp-page="/Account/Logout">Wyloguj</a></li>
</ul>
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a asp-page="/Account/Login">Zaloguj</a></li>
    </ul>
}
