﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class="text-center">
        <h1 class="display-4">Witaj</h1>
        <p>Aby korzystać z aplikacji <a href="/Account/Login">Zaloguj się</a>.</p>
    </div>
