﻿@page
@model sLogDailyReports.Pages.ShiftsModel
@{
    ViewData["Title"] = "Shifts";
}

<h1>Zmiany</h1>

<form method="post">
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shifts[0].ShiftName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shifts[0].ShiftStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shifts[0].ShiftEnd)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Model.Shifts.Count(); i++)
        {
            <tr id="shiftDisplay_@Model.Shifts[i].Id">
                <td>
                    @Html.DisplayFor(modelItem => Model.Shifts[i].ShiftName)
                </td>
                <td>
                    @Model.Shifts[i].ShiftStart:00
                </td>
                <td>
                    @Model.Shifts[i].ShiftEnd:00
                </td>
                <td>
                    <span class="editButtons">
                        <button class="btn btn-outline-info editButton" type="button" onclick="EditShift(@Model.Shifts[i].Id)">Edytuj</button> |
                        <button class="btn btn-danger" type="submit" asp-page-handler="delete" asp-route-id="@Model.Shifts[i].Id">Usuń</button>
                    </span>
                </td>
            </tr>
            <tr id="shiftEdit_@Model.Shifts[i].Id" hidden>
                <td>
                    <input asp-for="@Model.Shifts[i].Id" type="hidden"/><input asp-for="@Model.Shifts[i].ShiftName" class="form-control"/>
                </td>
                <td>
                    <select asp-for="@Model.Shifts[i].ShiftStart" asp-items="@(new SelectList(Model.Hours, "Value", "Text"))" class="form-control"></select>
                </td>
                <td>
                    <select asp-for="@Model.Shifts[i].ShiftEnd" asp-items="@(new SelectList(Model.Hours, "Value", "Text"))" class="form-control"></select>
                </td>
                <td>
                    <button class="btn btn-outline-primary" type="submit" asp-page-handler="saveShift" asp-route-id="@Model.Shifts[i].Id">Zapisz</button> |
                    <button class="btn btn-secondary" type="button" onclick="UndoEditShift(@Model.Shifts[i].Id)">Cofnij</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" bs-toggle-modal="addShift">Nowa zmiana</button>
</form>

<modal title="Dodaj nową zmianę"id="addShift">
    <modal-body>
        <form method="post">
            <div class="form-row">
                <label asp-for="NewShift.ShiftName" class="col-form-label"></label> <input asp-for="NewShift.ShiftName" class="form-control" />
            </div>
            <div class="form-row">
                <label asp-for="NewShift.ShiftStart" class="col-form-label"></label> <select asp-for="NewShift.ShiftStart" asp-items="@(new SelectList(Model.Hours, "Value", "Text"))" class="form-control" ></select>
            </div>
            <div class="form-row">
                <label asp-for="NewShift.ShiftEnd" class="col-form-label"></label> <select asp-for="NewShift.ShiftEnd" asp-items="@(new SelectList(Model.Hours, "Value", "Text"))" class="form-control"></select>
            </div>
            <div class="border-top"></div>
            <br/><button class="btn btn-outline-primary" type="submit" asp-page-handler="saveNewShift">Zapisz</button>
            <div asp-validation-summary="All"></div>
        </form>
    </modal-body>
</modal>
<script>
    var editMode = false;
    function EditShift(id) {
        document.getElementById('shiftDisplay_' + id).setAttribute('hidden', '');
        document.getElementById('shiftEdit_' + id).removeAttribute('hidden');

        $('.editButtons').hide();
        $('#newShift').hide();
    }

    function UndoEditShift(id) {
        document.getElementById('shiftDisplay_' + id).removeAttribute('hidden');
        document.getElementById('shiftEdit_' + id).setAttribute('hidden', '');

        $('.editButtons').show();
        $('#newShift').show();
    }
</script>