﻿@page
@model sLogDailyReports.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Logowanie</h1>

<div class="row">
    <div class="col-md-3">
        <form method="post">
            <h4>Podaj dane logowania</h4>
            <hr>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>Nazwa użytkownika</label>
                <input asp-for="@Model.InputUser.UserName" class="form-control">
                <span asp-validation-for="@Model.InputUser.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Hasło</label>
                <input asp-for="@Model.InputUser.Password" class="form-control">
                <span asp-validation-for="@Model.InputUser.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Zaloguj</button>
            </div>
        </form>
    </div>
</div>