﻿@page
@model sLogDailyReports.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>Zarejestruj</h1>


<div class="row">
    <div class="col-md-3">
        <form method="post">
            <h4>Use a local account to log in.</h4>
            <hr>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.InputUser.UserName"></label>
                <input asp-for="@Model.InputUser.UserName" class="form-control">
                <span asp-validation-for="@Model.InputUser.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.InputUser.Password"></label>
                <input asp-for="@Model.InputUser.Password" class="form-control">
                <span asp-validation-for="@Model.InputUser.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Zarejestruj</button>
            </div>
        </form>
    </div>
</div>
