﻿@page "{id:int}"
@model sLogDailyReports.Pages.Groups.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Stanowiska w grupie "@Model.Group.Name"</h1>

<ul>
    @for (var i = 0; i < Model.Group.Stations.Count(); i++)
    {
        <li>@Model.Group.Stations[i].Description (@Model.Group.Stations[i].Name)</li>
    }
</ul>

<button type="button" class="btn btn-primary" bs-toggle-modal="addStations">Dodaj stanowiska</button>
<button type="button" class="btn btn-danger" bs-toggle-modal="removeStations">Usuń stanowiska</button>

<modal title="Dodaj stanowiska do grupy" id="addStations">
    <modal-body>
        <form method="post">
            @for (var i = 0; i < Model.AvailableStations.Count(); i++)
            {
                <input type="checkbox" name="StationId" value="@Model.AvailableStations[i].Id" />
                <span>@Model.AvailableStations[i].Description (@Model.AvailableStations[i].Name)</span><br />
            }
            <br /><button class="btn btn-outline-primary" type="submit" asp-page-handler="saveGroup">Zapisz</button>

            <div asp-validation-summary="All"></div>
        </form>
    </modal-body>
</modal>

<modal title="Usuń stanowiska z grupy" id="removeStations">
    <modal-body>
        <form method="post">
            @for (var i = 0; i < Model.Group.Stations.Count(); i++)
            {
                <input type="checkbox" name="StationId" value="@Model.Group.Stations[i].Id" />
                <span>@Model.Group.Stations[i].Description (@Model.Group.Stations[i].Name)</span><br />
            }
            <br /><button class="btn btn-outline-danger" type="submit" asp-page-handler="removeStations">Zapisz</button>

            <div asp-validation-summary="All"></div>
        </form>
    </modal-body>
</modal>