﻿@page
@model sLogDailyReports.Pages.Groups.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Grupy</h1>

<table class="table">
    <thead>
    <tr>
        <th><label asp-for="@Model.Groups[0].Name"></label></th>
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Model.Groups.Count(); i++)
    {
        <tr id="group_@Model.Groups[i].Id">
            <td>
                @Html.DisplayFor(m => @Model.Groups[i].Name)
            </td>
            <td>
                <a href="Groups/Edit/@Model.Groups[i].Id" class="btn btn-outline-primary">Edytuj</a> | <button type="button" class="btn btn-danger" onclick="deleteGroup(@Model.Groups[i].Id)">Usuń</button>
            </td>
        </tr>
    }
    </tbody>
</table>
<div class="modal" tabindex="-1" role="dialog" id="newGroupModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <form method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Podaj nazwę grupy</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input asp-for="@Model.NewGroup.Name" class="form-control"/>
                </div>
                <div class="modal-footer">
                    <button type="submit" asp-page-handler="saveGroup" class="btn btn-primary">Zapisz</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                </div>
            </form>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newGroupModal" >Dodaj grupę</button>

@section scripts {
    <script>
        function deleteGroup(id) {
            $.ajax({
                url: '/Groups?handler=deleteGroup',
                method: "POST",
                contentType: "application/x-www-form-urlencoded",
                data: { "Id": id },
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (result) {
                    if (result.success === true)
                        deleteGroupTableRow(id);
                    else alert("Nie udało się usunąć");
                },
                error: function (error) {
                    alert("Nie udało się usunąć" + error);
                }
            });
        }

        function deleteGroupTableRow(id) {
            $('#group_' + id).remove();
        }
    </script>
}