﻿@page
@model sLogDailyReports.Pages.Report.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Wybierz grupę i zmianę</h1>

<div class="container">
    <form method="get" action="/Report/Show">
        <div class="form-row">
            <label>Zmiana</label><select asp-for="@Model.SelectedShift" asp-items="@(new SelectList(Model.Shifts, "Id", "ShiftName"))" class="form-control"></select>
        </div>
        <div class="form-row">
            <label>Grupa</label><select asp-for="@Model.SelectedGroup" asp-items="@(new SelectList(Model.Groups, "Id", "Name"))" class="form-control"></select>
        </div>
        <div class="form-row">
            <label>Data raportu</label><input asp-for="@Model.SelectedDate" class="form-control" type="date"/>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Wyświetl raport</button>
    </form>
</div>