﻿﻿@page
@model sLogDailyReports.Pages.Report.ShowModel
@{
    ViewData["Title"] = "Show";
}

<h1>Raport</h1>
<h3>Grupa: @Model.Group.Name, Zmiana: @Model.Shift.ShiftName</h3>
<table class="table table-bordered table-sm" style="width: auto; float: left">
    <thead>
    <tr>
        <th>
            <label>Godzina</label>
        </th>
        <th>
            <label>Liczba paczek</label>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Report)
    {
        <tr>
            <td>
                @item.Hour:00
            </td>
            <td>
                @item.Amount
            </td>
        </tr>
    }
    </tbody>
</table>

<table class="table table-bordered table-sm table_border_custom" style="width: auto; display: inline-block; margin-left: 20px">
    <thead style="font-size: 40px">
    <tr>
        <th>
            @DateTime.Now.Hour:00
        </th>
        <th>
            Total
        </th>
    </tr>
    </thead>
    <tbody  style="font-size: 180px">
    <tr>
        <td>
              @try
            {
                @Model.Report.Single(x => x.Hour == @DateTime.Now.Hour).Amount
            }
            catch (Exception)
            {
                <p>0</p>
            }
        </td>
        <td>
            @Model.Report.Select(x => x.Amount).Sum()
        </td>
    </tr>
    </tbody>
</table>

<script type="text/javascript">
    setTimeout(function() {
        location = '';
    },60000)
</script>
<style>
    .table_border_custom td, .table_border_custom th {
        border: 8px solid #000000 !important;
        padding: 15px 20px !important;
    }
</style>